*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body{
    overflow: hidden;
}

.mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px;
    position: relative;
}

.mobile span{
    position: absolute;
    padding: 40px;
}

.mobile .text1{
    font-size: 3.5rem;
    color: #00000014;
}

.moble .text2{
    padding: 40px;
}

:root{
    --selected-color: black;
    --red: #ff1212;
    --blue: #1212ff;
    --lime: lime;
    --yellow: #ffff12;
    --black: #000000;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

canvas {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    cursor: none;
}

.drawingSheet{
    background: white;
}

.brushPosition{
    z-index: 90;
}

.toolbar-top{
    position: relative;
    width: max-content;
    background: #f73f3f00;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.toolbar-side{
    position: relative;
    width: min-content;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.toolbars img{
    max-width: 40px;
    max-height: 40px;
}

.toolbar-side, .toolbar-top{
    z-index: 100;
}

.toolbar-side .brushSizes{
    display: flex;
    flex-direction: column;
    padding: 15px 5px;
    align-items: center;
    background: #0000000f;
    border-radius: 10px;
    width: 100%;
}

.brushSizes label.brushSize{
    border-radius: 10px;
    background: #151515;
    cursor: pointer;
    margin: 5px;
}

.brushTypes, .tools{
    background: #0000000f;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    padding: 10px;
    flex-direction: row;
}

.tools{
    background: none;
    flex-direction: column;
    background: #0000000f;
}

#saveButton{
    background: #0000000f;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.brushTypes label, button{
    cursor: pointer;
}

button:disabled{
    filter: opacity(0.2);
}

.brushTypes input+ label{
    filter: opacity(0.2);
}

.brushTypes input:checked + label{
    filter: opacity(1);
}

.xsmall{
    width: 5px;
    height: 5px;
}

.small{
    width: 10px;
    height: 10px;
}

.medium{
    width: 15px;
    height: 15px;
}

.large{
    width: 20px;
    height: 20px;
}

.brushSizes .brushSizeRadio:checked + label.brushSize{
    background:  #030303;
    outline: 2px solid rgb(0, 0, 0);
    border: 3px solid rgb(255, 255, 255);
}


.color-palatte{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: #0000000f;
    border-radius: 10px;
    width: max-content;
}

.color-palatte .color{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.red{
    background: var(--red);
}

.blue{
    background: var(--blue);
}

.lime{
    background: var(--lime);
}

.yellow{
    background: var(--yellow);
}

.black{
    background: var(--black);
}

.dynamic{
    background: linear-gradient(45deg, #2212ff, 40%, #12ff75);
}


button{
    background: none;
    border: none;
}


input[type="radio"]:checked + .dynamic{
    outline: 3px solid var(--selected-color);
    border: 4px solid #ffffff;
}

input[type="radio"]:checked + .red{
    outline: 3px solid var(--red);
    border: 4px solid #ffffff;
}

input[type="radio"]:checked + .blue{
    outline: 3px solid var(--blue);
    border: 4px solid #ffffff;
}

input[type="radio"]:checked + .lime{
    outline: 3px solid var(--lime);
    border: 4px solid #ffffff;
}

input[type="radio"]:checked + .yellow{
    outline: 3px solid var(--yellow);
    border: 4px solid #ffffff;
}

input[type="radio"]:checked + .black{
    outline: 3px solid var(--black);
    border: 4px solid #ffffff;
}

input[type="color"]{
    visibility: hidden;
    position: absolute;
}

input{
    display: none;
}